h1{
    background-color: aquamarine;
    padding: 1em;
    text-align: center;
}
.subtitulo{
    color: blue;
}
p{
    padding: 0 1em;
    text-align: justify;
}
.listas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
