*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 'head head head head' 'nav section section aside' 'foot foot foot foot';
}
header{
    background-color: violet;
    height: 150px;
    grid-area: head;
}
nav{
    background-color: burlywood;
    grid-area: nav;
}
section{
    background-color: coral;
    grid-area: section;
}
aside{
    background-color: hotpink;
    grid-area: aside;
}
footer{
    background-color: darkorchid;
    grid-area: foot;
    height: 100px;
}
nav,section,aside{
    height: 350px;
}