header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form{
    padding: 0 8em;
}
.datos-personales{
    display: flex;
    flex-direction: column;
    position: relative;
}
.datos-personales label{
    margin-bottom: 1em;
}
.datos-personales input, .datos-personales select{
    position: absolute;
    left: 8em;
}
.mejor-pelicula{
    display: flex;
    flex-direction: column;
}
.mejor-pelicula label{
    margin-bottom: 0.3em;
}
.pelis-no-vistas{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3em;
}
input[type="reset"], input[type="button"]{
    margin: 1em 1em;
    padding: 0.25em 0.625em;
}